@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="2">
        <MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.TwoTone.Menu" Color="Color.Inherit" Edge="Edge.Start" />
        <MudText Typo="Typo.h5" Class="ml-3">Elite Medical</MudText>
        <MudSpacer />
        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" />
    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Docked" Elevation="3">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="mt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _drawerOpen = true;
    private bool _isDarkMode = false;
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new()
            {
                PaletteLight = _lightPalette,
                PaletteDark = _darkPalette,
                LayoutProperties = new LayoutProperties()
                {
                    DefaultBorderRadius = "4px",
                    DrawerMiniWidthLeft = "56px",
                    DrawerMiniWidthRight = "56px",
                    DrawerWidthLeft = "240px",
                    DrawerWidthRight = "240px",
                    AppbarHeight = "64px",
                },
                Typography = new Typography()
                {
                    Default = new DefaultTypography
                    {
                        FontFamily = ["Roboto", "Helvetica", "Arial", "sans-serif"],
                        FontWeight = "400",
                        FontSize = ".875rem",
                        LineHeight = "1.43",
                        LetterSpacing = ".01071em",
                        TextTransform = "none",
                    },
                    H1 = new H1Typography
                    {
                        FontWeight = "300",
                        FontSize = "6rem",
                        LineHeight = "1.167",
                        LetterSpacing = "-.01562em",
                        TextTransform = "none",
                    },
                    H2 = new H2Typography
                    {
                        FontWeight = "300",
                        FontSize = "3.75rem",
                        LineHeight = "1.2",
                        LetterSpacing = "-.00833em",
                        TextTransform = "none",
                    },
                    H3 = new H3Typography
                    {
                        FontWeight = "400",
                        FontSize = "3rem",
                        LineHeight = "1.167",
                        LetterSpacing = "0",
                        TextTransform = "none",
                    },
                    H4 = new H4Typography
                    {
                        FontWeight = "400",
                        FontSize = "2.125rem",
                        LineHeight = "1.235",
                        LetterSpacing = ".00735em",
                        TextTransform = "none",
                    },
                    H5 = new H5Typography
                    {
                        FontWeight = "400",
                        FontSize = "1.5rem",
                        LineHeight = "1.334",
                        LetterSpacing = "0",
                        TextTransform = "none",
                    },
                    H6 = new H6Typography
                    {
                        FontWeight = "500",
                        FontSize = "1.25rem",
                        LineHeight = "1.6",
                        LetterSpacing = ".0075em",
                        TextTransform = "none",
                    },
                    Subtitle1 = new Subtitle1Typography
                    {
                        FontWeight = "400",
                        FontSize = "1rem",
                        LineHeight = "1.75",
                        LetterSpacing = ".00938em",
                        TextTransform = "none",
                    },
                    Subtitle2 = new Subtitle2Typography
                    {
                        FontWeight = "500",
                        FontSize = ".875rem",
                        LineHeight = "1.57",
                        LetterSpacing = ".00714em",
                        TextTransform = "none",
                    },
                    Body1 = new Body1Typography
                    {
                        FontWeight = "400",
                        FontSize = "1rem",
                        LineHeight = "1.5",
                        LetterSpacing = ".00938em",
                        TextTransform = "none",
                    },
                    Body2 = new Body2Typography
                    {
                        FontWeight = "400",
                        FontSize = ".875rem",
                        LineHeight = "1.43",
                        LetterSpacing = ".01071em",
                        TextTransform = "none",
                    },
                    Button = new ButtonTypography
                    {
                        FontWeight = "500",
                        FontSize = ".875rem",
                        LineHeight = "1.75",
                        LetterSpacing = ".02857em",
                        TextTransform = "uppercase",
                    },
                    Caption = new CaptionTypography
                    {
                        FontWeight = "400",
                        FontSize = ".75rem",
                        LineHeight = "1.66",
                        LetterSpacing = ".03333em",
                        TextTransform = "none",
                    },
                    Overline = new OverlineTypography
                    {
                        FontWeight = "400",
                        FontSize = ".75rem",
                        LineHeight = "2.66",
                        LetterSpacing = ".08333em",
                        TextTransform = "none",
                    },
                },
                ZIndex = new ZIndex()
                {
                    Drawer = 1100,
                    Popover = 1200,
                    AppBar = 1300,
                    Dialog = 1400,
                    Snackbar = 1500,
                    Tooltip = 1600,
                },
            };
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
    }

    private readonly PaletteLight _lightPalette = new()
        {
            Black = "#000",
            White = "#fff",
            Primary = "#008cba",
            PrimaryContrastText = "#cce8f1",
            Secondary = "#eeeeeeff",
            SecondaryContrastText = "#4c4c4cff",
            Tertiary = "rgba(34, 34, 34, 0.5)",
            TertiaryContrastText = "#f8f9fa",
            Info = "#5bc0de",
            InfoContrastText = "#def2f8",
            Success = "#43ac6a",
            SuccessContrastText = "#d9eee1",
            Warning = "#e99002",
            WarningContrastText = "#fbe9cc",
            Error = "rgba(244,67,54,1)",
            ErrorContrastText = "rgba(255,255,255,1)",
            Dark = "#333",
            DarkContrastText = "#ccc",
            TextPrimary = "#00384a",
            TextSecondary = "#5f5f5f",
            TextDisabled = "rgba(0,0,0,0.3764705882352941)",
            ActionDefault = "rgba(0,0,0,0.5372549019607843)",
            ActionDisabled = "rgba(0,0,0,0.25882352941176473)",
            ActionDisabledBackground = "rgba(0,0,0,0.11764705882352941)",
            Background = "rgba(255,255,255,1)",
            BackgroundGray = "rgba(245,245,245,1)",
            Surface = "rgba(255,255,255,1)",
            DrawerBackground = "#fcfcfc",
            DrawerText = "#4e4d4dff",
            DrawerIcon = "#eee",
            AppbarBackground = "#cce8f1",
            AppbarText = "#008cba",
            LinesDefault = "rgba(0,0,0,0.11764705882352941)",
            LinesInputs = "rgba(189,189,189,1)",
            TableLines = "rgba(224,224,224,1)",
            TableStriped = "rgba(0,0,0,0.0196078431372549)",
            TableHover = "rgba(0,0,0,0.0392156862745098)",
            Divider = "rgba(224,224,224,1)",
            DividerLight = "rgba(0,0,0,0.8)",
            PrimaryDarken = "#00384a",
            PrimaryLighten = "#cce8f1",
            SecondaryDarken = "#a88c8cff",
            SecondaryLighten = "#eeeeeea7",
            TertiaryDarken = "rgba(34, 34, 34, 0.5)",
            TertiaryLighten = "rgba(34, 34, 34, 0.5)",
            InfoDarken = "#244d59",
            InfoLighten = "#def2f8",
            SuccessDarken = "#1b452a",
            SuccessLighten = "#d9eee1",
            WarningDarken = "#5d3a01",
            WarningLighten = "#fbe9cc",
            ErrorDarken = "rgb(242,28,13)",
            ErrorLighten = "rgb(246,96,85)",
            DarkDarken = "rgb(46,46,46)",
            DarkLighten = "rgb(87,87,87)",
            HoverOpacity = 0.06,
            RippleOpacity = 0.1,
            RippleOpacitySecondary = 0.2,
            GrayDefault = "#9E9E9E",
            GrayLight = "#BDBDBD",
            GrayLighter = "#E0E0E0",
            GrayDark = "#757575",
            GrayDarker = "#616161",
            OverlayDark = "rgba(33,33,33,0.4980392156862745)",
            OverlayLight = "rgba(255,255,255,0.4980392156862745)",
        };

    private readonly PaletteDark _darkPalette = new()
    {
            Black = "#000",
            White = "#fff",
            Primary = "#008cba",
            PrimaryContrastText = "#eeeeeeff",
            Secondary = "#eee",
            SecondaryContrastText = "#303030",
            Tertiary = "rgba(222, 226, 230, 0.5)",
            TertiaryContrastText = "#eeeeeeff",
            Info = "#5bc0de",
            InfoContrastText = "#12262c",
            Success = "#43ac6a",
            SuccessContrastText = "#0d2215",
            Warning = "#e99002",
            WarningContrastText = "#2f1d00",
            Error = "rgba(244,67,54,1)",
            ErrorContrastText = "rgba(255,255,255,1)",
            Dark = "#333",
            DarkContrastText = "#eeeeeeff",
            TextPrimary = "#66bad6",
            //TextSecondary = "whitesmoke",
            TextDisabled = "rgba(255,255,255,0.2)",
            ActionDefault = "rgba(173,173,177,1)",
            ActionDisabled = "rgba(255,255,255,0.25882352941176473)",
            ActionDisabledBackground = "rgba(255,255,255,0.11764705882352941)",
            Background = "rgba(50,51,61,1)",
            BackgroundGray = "rgba(39,39,47,1)",
            Surface = "rgba(55,55,64,1)",
            DrawerBackground = "#303030",
            DrawerText = "#eee",
            DrawerIcon = "#eee",
            AppbarBackground = "#001c25",
            AppbarText = "#008cba",
            LinesDefault = "rgba(255,255,255,0.11764705882352941)",
            LinesInputs = "rgba(255,255,255,0.2980392156862745)",
            TableLines = "rgba(255,255,255,0.11764705882352941)",
            TableStriped = "rgba(255,255,255,0.2)",
            Divider = "rgba(255,255,255,0.11764705882352941)",
            DividerLight = "rgba(255,255,255,0.058823529411764705)",
            PrimaryDarken = "#66bad6",
            PrimaryLighten = "#001c25",
            //SecondaryDarken = "whitesmoke",
            SecondaryLighten = "#303030",
            TertiaryDarken = "rgba(222, 226, 230, 0.5)",
            TertiaryLighten = "rgba(222, 226, 230, 0.5)",
            InfoDarken = "#9dd9eb",
            InfoLighten = "#12262c",
            SuccessDarken = "#8ecda6",
            SuccessLighten = "#0d2215",
            WarningDarken = "#f2bc67",
            WarningLighten = "#2f1d00",
            ErrorDarken = "rgb(242,28,13)",
            ErrorLighten = "rgb(246,96,85)",
            DarkDarken = "rgb(23,23,28)",
            DarkLighten = "rgb(56,56,67)",
    };

    public string DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Rounded.AutoMode,
        false => Icons.Material.Outlined.DarkMode,
    };
}


